<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>133380734405-stdn8ffpljgk699ajpi3t6fc1l72of47.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.133380734405-stdn8ffpljgk699ajpi3t6fc1l72of47</string>
	<key>API_KEY</key>
	<string>AIzaSyDv4o5zKU9PhMklrKtzFNvAf0POvfWXe7M</string>
	<key>GCM_SENDER_ID</key>
	<string>133380734405</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dashboard</string>
	<key>PROJECT_ID</key>
	<string>dashboard-725c9</string>
	<key>STORAGE_BUCKET</key>
	<string>dashboard-725c9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:133380734405:ios:636948ea808979557c1fac</string>
</dict>
</plist>